---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<p>I have a great passion for travel and exploring nature🌃. I’ve visited 19 countries so far, immersing myself in different cultures and experiencing unforgettable moments like glacier trekking🧊🏔️. These experiences have broadened my horizons and helped me gain a clearer sense of my inner thoughts and desires. And I enjoy capturing those beautiful moments through photos: <a href="https://github.com/01Yan/hyyan.github.io/raw/master/files/moments.pdf" target="_blank">Travel Moments</a></p>

<video width="240" height="320" controls>
  <source src="https://github.com/01Yan/hyyan.github.io/raw/master/_pages/289_1733753167.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<br>

<p>I'm also a big fan of exercise! I have received professional table tennis training🏓️ and am also interested in fitness and surfing🏄‍♀️. These activities not only make me stronger, but also give me a more positive attitude in life and work.</p>

<video width="260" height="350" controls style="margin-top: -30px;">
  <source src="https://github.com/01Yan/hyyan.github.io/raw/master/_pages/290_1733753170.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<br>

<p>I presented the posters of my graduation project to students and professors on the campus of Heriot-Watt. It was an exciting experience!<p>
<img src="https://github.com/01Yan/hyyan.github.io/raw/master/images/hw_post1.jpg" alt="Image 1" width="260" height="100" style="float: left; margin-right: 10px;">
<img src="https://github.com/01Yan/hyyan.github.io/raw/master/images/hw_post2.jpg" alt="Image 2" width="240" height="160" style="float: left; margin-right: 10px;">



